/* Global Styles */

body {
  background: #37414A;
}

li {
	color: #55676A;
}

h2 {
	color: #AAA;
	font-family: fantasy;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #777;
}

a:visited {
	color: #777;
}

a:hover {
	font-size: 1.2em;
	background: none;
	color: #AAA;
}

.icon-reposition {
	position: relative;
	top: 8px;
	margin-right: 5px;
}


/* Styles for Main Title */

.roundedcornr_box h1 {
  text-align: center;
  font: bold italic;
	color: #AAA;
	font-size: 3em;
	font-family: "Courier New";
	
}

.roundedcornr_box h4 {
	text-align: center;
	color: #999;
	position: relative;
	left: 25%;
	font-family: "Courier New";
}

.roundedcornr_box{
	background: #37414a url(/images/roundedcornr_grad.gif) no-repeat;	
	width: 600px;
	height: 80px;
}

.roundedcornr_top div{
   background: transparent url(/images/roundedcornr_tl.gif) no-repeat top left;
}

.roundedcornr_bottom div {
   background: url(/images/roundedcornr_bl.gif) no-repeat bottom left;
	 position: relative;
	 top: -65px;
}

.roundedcornr_top div, .roundedcornr_top,
.roundedcornr_bottom div, .roundedcornr_bottom {
   width: 100%;
   height: 20px;
   font-size: 1px;
}

.roundedcornr_content { 
	margin: 0 30px; 
	position: relative;
	right: 15%;
	position: relative;
	top: -10px;
}


.roundedcornr_box {
	position:relative;
	left: 27%;
}


/* Styles for Article Listing */

#create-article {
	float: right;
	position: relative;
	right: 205px;
}

#article-add-table-title {
	margin: 50px 0px 20px 20px;
}

.article-list {
	width: 96%;
	margin: 0px 0px 40px 20px;
	padding: 0px 20px 0px 0px;

}

.article-list #titles {
	background-color: #666;
	color: #AAA;
}

.article-list td {
	padding: 0px 5px 0px 5px;
	height: 37px;
}

.icons {
	background: #37414A;
	width: 40px;
}

.list-line-odd {
	background: #B1BDB4;
}

.list-line-even {
	background: #AAA;
}

/* Style for article count */

.article-count {
	font-size: 1.5em;
	color: #AAA;
	font-family: fantasy;
}

/* Styles for Article Form */

.article-form {
	margin: 50px 20px 20px 35px;
}

.article-form label {
	color: #AAA;
	font-family: "Courier New";
	float: left;
	display: block;
	text-align: right;
	margin-right: .5em;
	width: 5em;
	font-size: 1.2em;
}

.article-form div {
	margin: 20px 0px 0px 10px;
}

.article-form #article_submit {
	position: relative;
	left: 85px;
}

.subtitle {
	font-family: fantasy;
	color: #AAA;
	margin: 50px 0px 0px 20px;
}

/* Styles for View Article Page */

.article-title {
	color: #AAA;
	margin: 80px 0px 20px 40px;
	font-family: fantasy;
	font-size: 1.6em;
}

.author p{
	color: #AAA;
	font-family: fantasy;
	margin-left: 60px;
	font-size: 1.3em;
}

.article-body {
	width: 700px;
}

.article-body p {
	color: #AAA;
	font-family: fantasy;
	margin: 40px 0px 0px 40px;
	font-size: 16px;
	width: 40px:
}

/* Styles for Links */

.links-row {
	margin: 50px 0px 10px 40px;
	width: 600px;
	border: solid;
	border-color: #37414A;
}	


.articles-link {
	float: left;
}

.email-link {
	float: right;
	width: 100px;
}

.edit-link {
	float: right;
	width: 140px;
}

.delete-link {
	float: right;
	width: 170px;
}

/* Style for Notices */

.notice {
	color: #AAA;
	font-size: 2em;
	font-family: fantasy;
	float: left;
	margin: 30px 40px 0px 200px;
}

/* Styles for flash */

.flash {
  	margin: 40px 0px 10px 40px;
  	width: 400px;
	text-align: center;
}
.flash p {
  	margin: 0px;
  	padding: 1em;
}
.flash.success {
  	border: 1px solid #090;
  	color: #060;
  	background: #F0FFF0;
}
.flash.error {
  	border: 1px solid #900;
  	color: #900;
  	background: #FFF0F0;
  
}

/* Styles for menubar */

ul.menubar {
	list-style-type: none;
	margin: 50px 100px 0px 40px;
	padding: 10px;

	text-align: center;
}

ul.menubar li {
	display: inline;
	margin: 0px 100px 0px 100px;
	color: #CCC;
	font-size: 1.4em;
}

ul.menubar a {
	color: #AAA;
}

ul.menubar a:visited {
	color: #999;
}

ul.menubar a:hover {
	color: #DDD;
}

/* Styles for author list */

#create-author {
	font-size: 1.3em;
	margin-left: 20px;
}

#author-add-table-title {
	margin: 50px 0px 20px 20px;
	color: #AAA;
	font-family: fantasy;
}

.author-list {
	margin: 20px 0px 40px 40px;
	padding: 0px 20px 0px 0px;
}

.author-list #titles {
	background-color: #666;
	color: #AAA;
}

.author-list td {
	padding: 0px 5px 0px 5px;
	height: 37px;
}

.icons {
	background: #37414A;
	width: 40px;
}

.list-line-odd {
	background: #B1BDB4;
}

.list-line-even {
	background: #AAA;
}

/* Styles for Photo */

.photo {
	margin: 40px 0px 0px 60px;
	color: red;
	font-size: 1.3em;
	font-family: fantasy;
}

.photo p {
	color: #AAA;
	font-size: 1.5em;
	font-family: "Courier New";
}

/* Styles for listing of article */

.author-article-list {
	margin: 20px 0px 0px 60px;
}

.author-article-list p {
	color: #AAA;
	font-size: 1.5em;
	font-family: "Courier New";
}







