<div class="links-bar-logged-in">
	<ul>
	  <li>Logged in as <%= link_to 'member', members_games_path %>, member</li>
	  <li><%= link_to 'My Games', members_games_path %></li>
	  <li><%= link_to 'Logout', logout_path %></lis>
	</ul>
  </div>

  <br />

  <div class="main-title">
    <h1><%= link_to 'Gamez', members_root_url %></h1>
  </div>