<div class="links-bar">
	<ul>
	  <li><%= link_to 'log in', login_path %></li>
	  <li><%= link_to 'register', new_user_path %></li>
	</ul>
  </div>

  <br />

  <div class="main-title">
    <h1><%= link_to 'Gamez', games_path %></h1>
  </div>