<div>
  <div class="roundedcornr_box">
	<div class="roundedcornr_top">
	  <div>
	  </div>
	</div>
	<div class="roundedcornr_content">
	  <h1>Articl.es</h1>
	  <h4><%= yield :subtitle %></h4>
	</div>
	<div class="roundedcornr_bottom">
	  <div>
	  </div>
	</div>
  </div>
</div>