/* Styles for main page */

.main-title {
	text-align: center;
	font-size: 4em;
}

.links-bar {
	float: right;
}

.links-bar li {
	list-style-type: none;
	display: inline;
	padding-right: 50px;
}

.list-line-odd {
	background: #CCC;
}

.list-line-even {
	background: white;
}

.games-list {
	margin-left: auto;
	margin-right: auto;
}

.games-list th {
	text-align: left;
}

.table-header {
	background: #AAA;
}

.paginate {
	text-align: center;
	margin: 100px 0px 20px 0px;
}

.new-game {
	text-align: center;
}