<% content_for :subtitle do %>
...clever sayings don't just come from leprechauns
<% end %>

<div>
		<%= link_to (image_tag('/images/back.png', :border => 0, :title => "List All Articles", :class => 'icon-reposition')) + "list all articles", articles_path, {:title => "List All Articles"} %>
</div>
	
<div class="subtitle">
	<h2>Creating a New Article</h2>
</div>

<div class="article-form">
	<% form_for(@article) do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<div>
		<%= f.submit 'Create!', :action => 'initialize_edits' %>
	</div>
	<% end %>
</div>
